<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row">
                <h2>Thêm vật liệu</h2>
            </div>
            <div class="row">
                {{#with data}}
                <form class="mt-5" action="/vatlieu/update/{{this._id}}" method="POST">
                    <div class="form-group">
                        <label for="MaVL">Mã Vật Liệu</label>
                        <input type="text" class="form-control" id="MaVL" name="MaVL" value="{{MaVL}}" required>
                    </div>

                    <div class="form-group">
                        <label for="TenVL">Tên Vật Liệu</label>
                        <input type="text" class="form-control" id="TenVL" name="TenVL" value="{{TenVL}}" required>
                    </div>

                    <div class="form-group">
                        <label for="Maloai">Mã Loại</label>
                        <input type="text" class="form-control" id="Maloai" name="Maloai" value="{{Maloai}}" required>
                    </div>

                    <div class="form-group">
                        <label for="DonViTinh">Đơn Vị Tính</label>
                        <input type="text" class="form-control" id="DonViTinh" name="DonViTinh" value="{{DonViTinh}}" required>
                    </div>

                    <div class="form-group">
                        <label for="GiaVL">Giá Vật Liệu</label>
                        <input type="number" class="form-control" id="GiaVL" name="GiaVL" value="{{GiaVL}}" required step="0.01">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mt-3">Sua Vật Liệu</button>
                </form>
                {{/with}}
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>